html, body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: #000000;
  color: #0b2636;
}

.canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}